* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
   letter-spacing : 0.2em;
}
header {
   padding: 20px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #F57615;
   display: flex;
  height:60px;


}
h1.he {
   margin:0; padding: 0;
   font-size:20px;

}
a.he {	
   text-decoration: none;
   color: #fff;
  
}
nav {
   margin: 0 0 0 auto;
}
ul.he {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}

h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;

}
.main{
  width:100%;
  padding-top:  62px;  
padding-left:   15%;  
padding-right:  2%;  

}
img.he
{
width:100%
}

.side-t{
    padding-top:  220px;  
}
article {
  display:flex;
}
footer
{
  text-align:center;
  color:white;
  background: black;
  
}
.icon
{
  width:150px;
border-radius:50%;
border: 5px solid white;
}
.cha
{
  width:22px;
}
.naraberu
{
    display:flex;
}
.twpic
{
  width:50%;
}

